/* Custom CSS for the dotted line */
.dotted-line {
    border-bottom: 2px dotted #C8CCD3; /* Change color as needed */
    flex-grow: 1;
    margin-left: 8px; /* Adjust the margin for spacing */
    margin-right: 8px; /* Adjust the margin for spacing */
    height: 0; /* Ensures the line has no height */
}

/* Add this to your custom CSS */
.middle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

    .middle-content span {
        margin: 0 8px; /* Adjust horizontal space between the spans */
    }

    .middle-content img {
        margin-left: 8px;
        margin-right: 8px;
    }

.btn_datghe {
    background-color: #EA4C0F;
    color: white;
    border: solid 1px white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
    .btn_datghe:hover {
        background-color: white;
        border: solid 1px #FF6F61;
        color: #FF6F61;
    }
    .btn_datghe:active {
        background-color: white;
        border: solid 1px #FF6F61;
        color: #FF6F61;
        box-shadow: 0 0 5px 0 #EA4C0F;
    }