<!-- Areas/Admin/Views/QuanLyNguoiDung/Index.cshtml -->
@{
    ViewData["Title"] = "Quản lý người dùng";
}

<h1 class="h3 mb-2 text-gray-800">Quản lý người dùng</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ Tên</th>
                        <th>Địa Chỉ</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donna Snider</td>
                        <td>Customer Support</td>
                        <td>New York</td>
                        <td>27</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>