@model BookingWeb.Server.Models.Loaixe

<!-- Areas/Admin/Views/QuanLyNguoiDung/Index.cshtml -->
@{
    ViewData["Title"] = "Chi tiết loại xe " + Model.TenLoai;
}

<h1 class="h3 mb-2 text-gray-800">Chỉnh Sửa Thông Tin Người Dùng</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin người dùng</h6>
    </div>
    <div class="card-body p-3">
        <form asp-action="Edit" asp-controller="LoaiXeAdmin" method="post" >
            <input type="hidden" asp-for="IdLoai" />
            <div class="mb-3">
                <label class="form-label">Tên loại xe</label>
                <input type="text" class="form-control" id="input-email" asp-for="TenLoai" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Số lượng</label>
                <input type="number" min="1" max="32" class="form-control" id="soGhe" name="soGhe"  asp-for="SoGhe" required />
            </div>
            <input type="hidden"  class="form-control" id="trangThai" name="trangThai"  asp-for="TrangThai" required />
            <div class="form-group float-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>